# Local Svelvik data (licensed separately)
data/
*.sg2
*.seg2
*.SG2
*.SEG2

# Python / Jupyter
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
